.section {
  min-height: calc(100vh - 50px);
  display: grid;
  grid-template-columns: 8% 1fr;
  gap: 10px;
  position: relative;

  .code {
    margin-bottom: 15px;
    p {
      font-size: 13px;
      padding: 1rem;
      background-color: rgba(var(--callout-rgb), 1);
      border: 1px solid rgba(var(--callout-border-rgb), 0.3);
      border-radius: var(--border-radius);
      color: var(--text-primary) !important;
    }
    code {
      font-weight: 700;
      font-family: var(--font-mono);
    }
  }

  .leftSide {
    margin-left: 5px;
    span {
      position: relative;
      &::after {
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translate(-50%, -50%);
        content: "";
        width: 15px;
        height: 15px;
        filter: blur(10px);
        background-color: var(--indigo);
        box-shadow: 0px 0px 40px 10px var(--indigo);
      }
      svg {
        color: var(--text-primary);
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    h1 {
      font-size: 30px;
      margin-bottom: 20px;
      color: var(--indigo);
      font-weight: 700;
      span {
        font-weight: 400;
        color: var(--text-primary);
      }
    }
    p {
      font-size: 13px;
      color: var(--text-secondary);
    }
  }
}
